<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <span class="me-2">
        <!-- Placeholder logo (Bootstrap icon or SVG) -->
        <svg width="32" height="32" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
          <path d="M2 1a1 1 0 0 0-1 1v2a5 5 0 0 0 4 4.9V10a2 2 0 0 0 2 2v1H5.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1H9v-1a2 2 0 0 0 2-2V8.9a5 5 0 0 0 4-4.9V2a1 1 0 0 0-1-1H2zm11 1v2a4 4 0 0 1-8 0V2h8z"/>
        </svg>
      </span>
      RallyMatch
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item"><a class="nav-link" routerLink="/matches">Matches</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/tournaments">Tournaments</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/activities">My Activities</a></li>
          <!-- User Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li>
                <button class="dropdown-item" (click)="logout()">Logout</button>
              </li>
            </ul>
          </li>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
